{% extends "base.html" %}

{%block title%}{{product.name}}{%endblock%}

{%block detail%}
<div class="flex justify-center items-center min-h-screen">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96 text-center">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-80 object-cover rounded-lg">
        {% else %}
            <img src="https://via.placeholder.com/400" alt="No Image" class="w-full h-80 object-cover rounded-lg">
        {% endif %}
        
        <h2 class="text-2xl font-bold mt-4 text-gray-800">{{ product.name }}</h2>
        <p class="text-xl text-green-600 font-semibold">${{ product.price }}</p>
        <p class="text-gray-700 mt-2">{{ product.description }}</p>
        <form action="{%  url 'cart:cart_add' product.id %}" method = "post" id="add_to_cart_form">        
            {% csrf_token %}
            <button type="submit" class="mt-4 bg-blue-600 hover:bg-blue-800 text-white px-6 py-3 rounded-lg w-full transition duration-300">Add to Cart</button>
            <p id="message"></p>
        </form>
    </div>
</div>
{%endblock%}